.car-category {
    .category-title {
        background: darken(#EEE, 5%);
        width: 100%;
        font-size: large;
        font-weight: bolder;
        color: black;
        height: 2.5rem;
        align-items: center;
        padding-left: 10%;
        display: flex;
    }
    .category-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}


/* Smartphones (phablets e.g. iPhone 6+) (portrait) ----------- */

@media only screen and (max-width: 414px) {
    /* Styles */
    .car-category {
        .category-container {
            flex-direction: column;
        }
    }
}