.car-category {
    .category-title {
        background: darken(#EEE, 5%);
        width: 100%;
        font-size: large;
        font-weight: bolder;
        color: black;
        height: 2.5rem;
        align-items: center;
        padding-left: 10%;
        display: flex;
    }
}