.car-panel {
    background: white !important;
    width: 15rem;
    height: 20rem;
    display: inline-flex;
    margin: 1rem;
    flex-direction: column;
    .discount-panel {
        background: #619037;
        color: white;
        width: 5rem;
        display: flex;
        align-self: flex-end;
        position: absolute;
        margin-top: 1rem;
        justify-content: center;
        padding: .75rem;
        align-items: center;
    }
    .make-logo {
        height: 3rem;
        align-self: center;
        margin-top: 33%;
    }
    .panel-divider {
        width: 60%;
        align-self: center;
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 2em 0;
        padding: 0;
    }
    .car-details {
        align-self: center;
        color: black;
        .make-model {
            font-size: x-large;
            font-weight: bold;
        }
        .vehicle-type {
            color: grey;
            font-size: medium;
        }
    }
    .price {
        font-size: xx-large;
        color: #519FEE;
        margin: 1rem;
        font-weight: bold;
    } 
    .car-panel-animate-enter {
        opacity: 0.01;
    }
    .car-panel-animate-enter.car-panel-animate-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }
    .car-panel-animate-leave {
        opacity: 1;
    }
    .car-panel-animate-leave.car-panel-animate-leave-active {
        opacity: 0.01;
        transition: opacity 300ms ease-in;
    }
}

/* Smartphones (phablets e.g. iPhone 6+) (portrait) ----------- */
@media only screen and (max-width : 414px) {
    /* Styles */
    .car-panel {
        margin: initial;
        height: 5rem;
        min-width: 300px;
        width: 100%;
        height: 6rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        border-bottom: 1px solid silver;

        .discount-panel {
            display: none;
        }
        
        .make-logo {
           margin-top: initial; 
           width: 25%;
        }

        .panel-divider {
            display: none;
        }
        .car-details {
            width: 35%;
            text-align: left;
            
            .make-model {
                font-size: medium;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            .vehicle-type {
                font-size: small;
            }
        }
        .price {
            font-size: x-large;
            margin: initial;
        }
    }
}